@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: 'Readex Pro', sans-serif;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #fe3072, #ff5948);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.primary-button:hover {
  background: linear-gradient(260deg, #fe3072, #ff5940);
}
